GEMINI_API_KEY= AQ.Ab8RN6JyyUZzCX2RrxXSIBx_rQmADS4DXdr5mDOcsoQbYDD9Aw
OPENAI_API_KEY= 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
